
section {
    background-color: #f0f0f0; /* Cor de fundo da seção */
    padding: 0.5em; /* Espaçamento interno */
    max-width: 98%;
    /* border: 1px solid goldenrod; */
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .container__lembra-voce {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid rgb(246, 4, 210); */
    max-width: 98%;
    margin: 0 auto;
  }

  .container__lembra-voce .slider {
    width: 560px; /* Ajuste conforme necessário */
    max-width: 100%; /* Ajuste conforme necessário */
    height: 315px; /* Ajuste conforme necessário */
  }

  .container__lembra-voce ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
    flex-wrap: nowrap; /* Impede que os elementos quebrem para uma nova linha */
  }

  .container__lembra-voce ul li {
    cursor: pointer;
    margin: 10px 5px; /* Reduzido o espaço entre os itens */
    text-align: center;
    border: 1px solid rgb(250, 114, 114);
    white-space: nowrap; /* Impede a quebra de linha do texto */
  }

  .container__lembra-voce ul li img {
    width: 70px; /* Ajuste conforme necessário */
    height: auto;
    margin-bottom: 0px;
  }

  .container__lembra-voce #video-list {
    display: flex;
    justify-content: center; /* Centraliza os elementos horizontalmente */
    background-color: rgba(11, 147, 147, 0.273);

    width: 100%;
    max-width: 35em;
    overflow-x: scroll; /* Adiciona barra de rolagem horizontal se necessário */
    margin: auto auto;
  }

  .container__lembra-voce #video-player {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 0; /* Remover a margem inferior */
    /* border: 1svw solid gold; */
    margin: 0 auto;
  }

  .container__lembra-voce #video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
  }