.lovoteca__container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: inline;
    vertical-align: middle;
    margin: 0 10px;
}

.lovoteca__title > img {
    animation: animacao-imagem 3s infinite;
    /* Adiciona a animação às imagens dentro do contêiner */
    width: 80px;
    height: 100px;
    background-color: none;

    margin: 10px;
    max-width: 100%;
    height: auto;

    max-width: 80px;
    /* ajuste conforme necessário */
    margin-right: 10px;
    /* adicione espaço entre as imagens e o título */
}

.lovoteca__title > h2 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: rgb(49, 49, 159);
    letter-spacing: 1rem;
}

.lovoteca__title {
    /*
    justify-content: center;
    display: flex;
    */
    align-items: center;
    /* alinhar itens verticalmente */
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.lovoteca__subtitle>h3 {
    text-align: center;
    color: rgb(73, 73, 174);
}

.lovoteca__title>img,
.lovoteca__title>h2 {
    display: inline;
    /* Coloca as imagens e o parágrafo em linha */
    vertical-align: middle;
    /* Alinha verticalmente ao centro */
    margin: 0 10px;
    /* Adiciona margem horizontal entre os elementos */
    margin-bottom: 20px;
}



/* Estilos adicionais para telas menores que 768px (tamanho móvel) */
@media only screen and (max-width: 768px) {
    .lovoteca__title {
        flex-direction: row;
        align-items: center;
    }

    .lovoteca__title > img,
    .lovoteca__title > h2 {
        margin: 0;
        width: 10px;
        max-width: 10%;
    }
    .lovoteca__title h2 {
        letter-spacing: 0.3rem ;
        margin: 0 10px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: rgb(49, 49, 159);
        letter-spacing: 0.1rem;
    }

    .lovoteca__title img {
        margin-bottom: 10px;
        /* adicione espaço entre as imagens em telas menores */
        width: 80px;
        height: 100px;
        background-color: none;

        margin: 10px;
        max-width: 100%;
        height: auto;

        max-width: 50px;
        /* ajuste conforme necessário */
        /* adicione espaço entre as imagens e o título */
        /*
        margin-right: 10px;
        */
    }
}




.lovoteca__container>.audio__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    
    /*
    border: 1px solid salmon;
    */
}

@media only screen and (max-width: 768px) {
    .lovoteca__container > .audio__container {
        width: auto;
        /* ou defina outro valor adequado para telas menores */
    }

    .lovoteca__container>.audio__container>audio {
        width: 80%;
        margin-top: 5px;
        margin-bottom: 1px;
        /*
         background-color: transparent;
         border-radius: 5px;
         */
    }
}

.audio__container > audio {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 1px;
    border-radius: 5px;
    /*
    background-color: transparent;
     */
}

.lovoteca__container > .audio__container > p {
    font-style: oblique;
    font-weight: bold;
    color: #542851;
    /*
    border: 1px solid salmon;
    background-color: #cb92c8;
    margin-top: 1px;
    font-weight: bold;
    font-size: xx-large;*/
}

.lovoteca__container > .audio__container > audio::-webkit-media-controls-panel {
    background-color: #cb9292;
    border-radius: 5px;
}

@keyframes animacao-imagem {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    /* Aumenta a escala para tornar a animação mais intensa */
    100% {
        transform: scale(1);
    }
}