/** RESET - INÍCIO**/

/* Reset de Margens e Preenchimentos */
html,
body,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

/* Normalização de Estilos */
body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** RESET - FIM **/

body{
    margin: 0 auto;
    max-width: 99.5%;
}


.page-construction {

    font-size: 19px;
    color: rgb(201, 188, 16);
    font-weight: bold;
    text-align: center;
    /* Para alinhar os elementos ao centro */
    position: relative;
    /* Necessário para alinhar o texto ao fundo */
    border: 2px solid rgb(253, 0, 0);
    
    max-width: 95%;
    height: 5vw;
    display: flex;
    /* Adicionando para alinhar os itens horizontalmente */
    justify-content: center;
    /* Adicionando para alinhar os itens horizontalmente */
    align-items: center;
    /* Para alinhar o texto ao fundo */
    
    background-color: azure;
    margin: 0 auto;

}



footer {
    /* margin-top: 10px; */
    background-color: #333;
    /* Cor de fundo */
    color: #fff;
    /* Cor do texto */
    padding: 10px;
    /* Espaçamento interno */
    text-align: center;
    /* Alinhamento do texto */
    max-width: 100%;
}

@font-face {
    font-family: 'Monte-carlo';
    src: url('./assets/MonteCarlo/MonteCarlo-Regular.ttf') format('truetype');
}

.carousel-perso {
    max-width: 400px; /* Defina a largura desejada */
    min-height: 150px; /* Defina a altura desejada */
    font-size: 20px;
}

/* Carousel elogios */